<style>

.nsk-profiles {
    /* Layout by: NSK; */
}

/* Ocultar la clase específica de Member Stats */
#ctl00_oCPH1_trMemberStats {
    display: none !important;
}

/* Ocultar la sección 'General Info' */
#ctl00_oCPH1_tbDetailsSection>tr>td>div[style*="General Info"],
#ctl00_oCPH1_tbDetailsSection>tr>td>div[style="margin: 0px 0px 10px 0px;"] {
    display: none !important;
}

/* Ocultar los títulos específicos */
div[style="position: relative; top: 3px;"] {
    display: none !important;
}

/* Ocultar elementos con el estilo específico */
div[style="height: 21px; background: #000000 url('/images/t2/sec-header-bg-bk.gif') repeat-x; color: #FFFFFF; font-weight: bold;"] {
    display: none !important;
}

td.columnsWidening img,
td.columnsWidening object {
    max-width: 100% !important;
    width: expression(this.width > 400 ? 400 : true);
}

/* Fondo degradado que va de negro a transparente */
body {
    background: linear-gradient(to bottom, black, transparent) !important;
    margin-top: 0px;
    margin-left: 0px;
}

/* Quitar fondo de todas las tablas */
table {
    background-color: transparent !important;
    border-style: none !important;
}

/* Quitar fondo de las tablas anidadas */
table table {
    background-color: transparent !important;
    border: 0px;
}

/* Fondo transparente para todas las tablas */
table, tr, td {
    background-color: transparent !important;
    border-style: none;
}

/* Estilos generales para textos */
table, tr, td, li, p, div, .text {
    color: #eb6488;
    line-height: 13px;
    font-size: 11px;
    font-family: "Lucida Grande", Verdana, sans-serif;
}

img {
    border: none;
    padding: 0 !important;
    background-color: transparent !important;
}

/* Estilos de enlaces */
a:link, a:visited, a:hover, a:active {
    color: #eb6488 !important;
    text-decoration: none;
    border-bottom: none !important;
}

/* Estilos específicos de las clases de texto */
.blacktext12, .nametext, .btext, .orangetext15, .whitetext12, .redtext, .redbtext, .blacktext10, .lightbluetext8 {
    color: #eb6488 !important;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    text-transform: uppercase;
}

/* Fondo transparente en la tabla de contacto */
.contactTable {
    width: 300px !important;
    height: 150px !important;
    background-color: transparent !important;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Estilo para los elementos dentro de la tabla de contacto */
.contactTable table, table.contactTable td {
    padding: 0px !important;
    border: 0px;
    background-color: transparent !important;
    background-image: none;
}

/* Ocultar imágenes y otros elementos innecesarios */
.contactTable a img {
    visibility: hidden;
}

.contactTable a {
    background-color: transparent;
    display: block;
    border-bottom: none !important;
}

/* Quitar algunos elementos específicos */
img[src="/images/t2/sec-header-arrow-bk.gif"],
#ctl00_oMasterHeaderDiv,
.MPHeaderNavCell,
#ctl00_oMasterAdDiv,
.MPToolsBar,
#ctl00_oCPH1_pnlSexyStuff {
    display: none !important;
}



/* Aplica un borde rosado a todos los contenedores de regalo */
.giftContainer,
.rounded,
.corner,
.giftbody {
    border: 2px solid #eb6488;
}

/* Aplica el borde a la cabecera del contenedor */
.giftbody div[style*="background: #000000"] {
    border: 2px solid #eb6488;
}

/* Ajusta los bordes de los elementos del slider */
.giftSlider .corner {
    border-color: #eb6488;
}

/* Borde rosado para el contenedor de la descripción */
.description {
    border: 2px solid #eb6488;
}

/* Quitar el borde del contenedor de la imagen del regalo */
.spanThird.giftImageContainer {
    border: none;
}



/* Opcionalmente, aplica el borde a la imagen del regalo */
.giftImageContainer {
    border: 2px solid #eb6488;
    padding: 5px;
    /* Añadir un poco de padding si es necesario */
}

/* Borde de las imágenes internas */
.giftImage {
    border: 2px solid #eb6488;
}



</style>

